#tamPadrao {
   padding:5px;
   width: 450px;
   height: 300px;
}
#rodape{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   clear: both;
}
.bloco{
	padding-top: 2px;
}
