<<<<<<< HEAD
/*html {
   height: 100%;
}*/
body {
   box-sizing: border-box;	
   /*min-height: 100%;*/
}
.nav-head {
   margin-bottom: 10px;
}
.content,
.relative {
   position: relative;
}
.relative {
   margin-top: 20px;
   /*argin-bottom: 20px;*/
   display: flex;
   justify-items: center;
}
.relative + .relative {
   margin-top: 0;
}
.content {
	/*height: 100vh;*/
=======
div.total{
   width: 100%;
}
div.conteudoCorpo{
   margin-bottom: 40px;
   width:100%;
>>>>>>> 326a3ccc1b74f7a3e7b9b331dd62068f7128baec
}
#tamPadrao {
   padding:5px;
   width: 450px;
   height: 300px;
}
#rodape{
<<<<<<< HEAD
   width: 100%;
=======
   clear: both;
   border-top: 1px;
   bottom: 0;
   left: 0;
   height: 40px;
   position: relative;
>>>>>>> 326a3ccc1b74f7a3e7b9b331dd62068f7128baec
   text-align: center;
   width: 100%;
}
.bloco{
	padding-top: 2px;
}
