/*html {
   height: 100%;
}*/

body {
   box-sizing: border-box;	
   /*min-height: 100%;*/
}

.nav-head {
   margin-bottom: 10px;
}

.content,
.relative {
   position: relative;
}

.relative {
   margin-top: 20px;
   /*argin-bottom: 20px;*/
   display: flex;
   justify-items: center;
}

.relative + .relative {
   margin-top: 0;
}

div.total{
   width: 100%;
}

div.conteudoCorpo{
   padding-top: 2%;
   margin-bottom: 40px;
   width:100%;
}

#tamPadrao {
   padding:5px;
   width: 450px;
   height: 300px;
}

#rodape{
   clear: both;
   border-top: 1px;
   bottom: 0;
   left: 0;
   height: 40px;
   position: relative;
   text-align: center;
   width: 100%;
}

.bloco{
	padding-top: 2px;
}
